*{
  margin: 0;
  padding: 0;
  
}

h1{
  text-align: center;
  font-size: 50px;
}

h3{
  font-size: 30px;
}


nav{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  text-align: start;
  background-color: aqua;
}

button{
  font-size: 30px;
}


img{
  height: 50px;
  width: 50px;
}